/* ================================== General CSS ================================== */

* {
    margin: 2px;
    padding: 2px;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Background color for the entire page */
}

.header {
    background-color: #e0e0e0; /* Slightly darker than #f0f0f0 */
    text-align: center; /* Center align the content */
    padding: 10px; /* Add some padding for spacing */
    width: 100%; /* Make the container span the entire screen horizontally */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.project-title {
    font-size: 20px; 
    margin: 10px 0;
}

.my-name {
    font-size: 16px; 
    margin: 10px 0;
}

.external-links p {
    font-size: 12px; 
    margin: 10px 0;
}

/* ================================== RecipeDisplay.jsx ================================== */

.recipe-container {
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
    padding: 30px;
    margin: 10px;
}

.recipe-container-body {
    max-height: 400px; 
    overflow-y: auto;
}

/* HEADER */

.recipe-title {
    align-items: center;
    font-size: 27px; 
}

/* DIFFICULTY RATING */

.star {
    font-size: 20px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
}

.star-green {
    color: green; /* Color for easy difficulty */
}

.star-yellow {
    color: yellow; /* Color for moderate difficulty */
}

.star-red {
    color: red; /* Color for difficult difficulty */
}

.recipe-difficulty, .recipe-difficulty-stars {
    display: flex;
    align-items: center; /* Align items vertically */
}


/* RECIPE STEPS */

.highlighted {
    background-color: yellow; /* highlight the current recipe step */
}

.step-navigation {
    margin-top: 20px;
}

.step-navigation button {
    font-size: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.step-navigation button:hover {
    background-color: #f0f0f0;
}
